<%- include('header') -%>


<h1>hello</h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt molestiae reprehenderit eveniet aspernatur ipsa officiis obcaecati cupiditate ipsum nam quo? Aut iusto tempore perferendis tempora magnam placeat nemo repudiandae facilis? Hic dolores sit dolorem atque porro facilis quae modi doloremque. Laudantium, deleniti maiores et distinctio vitae perspiciatis quos sapiente autem.</p>

<%- include('footer') -%>
